{% extends "loaner_app/baseplate.html" %}

{% block content %}
<h1>Welcome to the Social Club Loaner App</h1>
    <p>In this tech demo, it is a simple website for a Social Club to keep track of the equipment that is loaned to its members.</p>

    <p>I have also created a loader script in the project and the loader script loads a sample data of a chess club.</p>

    <p>You cannot see any of the management functionality unless you are a superuser of the site. Enjoy!</p>

{% endblock %}